---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<body>
		<Header />
		<main>
			<center>
			<p>
				I am a nerd with a passion for good stories (books, movies, shows, and games) and interesting storytelling mechanics.
				<p></p>
				I also enjoy problem-solving with numbers, which results in mountains of excel sheets.
				<p></p>
				When I'm not at my PC or in a book, I enjoy hiking and local fairs with my wife, who is also a nerd.
			</p>
			</center>
		</main>
	</body>
</html>