---
import Header from '../components/Header.astro';
---

<Header />
<p></p>
<iframe
	src="https://archive.org/embed/nudnouil_CV"
	width="600" 
	height="800"
	style="border:none;margin:auto;display:block;">
</iframe>