---
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="en">
	<body>
		<Header />
		<main>
			<center>
			<p>
				Daily auto-updated S&P 500 dataset with top-3 and bottom-3 performing yearly, monthly, and weekly stocks.
			</p>
			</center>
		</main>
	</body>
</html>
<center>
    <iframe 
title="stonks" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDQyNmNjZjAtOGM4Mi00ODI3LWI0NjItMDJmODNkMDAzZGNlIiwidCI6Ijk4N2ViMjM0LWNjZGMtNDBlNi1hY2Y2LWQ2NDI0NjFhZGM4ZiIsImMiOjN9" style="text-align:center">
    </iframe>
</center>