---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<body>
		<Header />
		<main>
			<center>
			<h1>Hello there!</h1>
			<p>
			
				You have found your way to my personal website. Please feel free to look around - 
				you will see some relevant details about me above, and some relevant links below.
			</p>
			</center>
		</main>
		<Footer />
	</body>
</html>
