---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Resume"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 03 2025')}
	heroImage=""
>
	<p>
		-describe hobbies/etc.
	</p>
</Layout>
