---
import { Icon } from '@astrojs/starlight/components';
---
<footer>
	<div class="social-links">
		<a href="https://www.linkedin.com/in/nudnouil/" target="blank">
			<Icon name="linkedin" color="darkgreen" size="3rem" />
		</a>
		&nbsp;
		<a href="https://github.com/fifthbarrier/" target="blank">
			<Icon name="github" color="darkgreen" size="3rem" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		text-align: center;
		border:none;
		text-decoration: none;
	}
</style>
